/* section-video */

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

main .section_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background: #272727;
}

main .section_wrap .section-video {
  position: relative;
  width: 100%;
  height: 70rem;
  overflow: hidden;
  transition: all 1s;
}

main .section_wrap .section-video .video {
  position: absolute;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

main .section_wrap .section-video h2.title {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  font-weight: 300;
  font-family: var(--font-family-cormorant);
  letter-spacing: 0.4rem;
  text-align: center;
  transform: translate(-50%, -20%);
  z-index: 10;
}

main .section_wrap .section-video .text_wrap {
  position: absolute;
  display: inline-block;
  width: 38%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -20%);
}

main .section_wrap .section-video p {
  position: relative;
  font-size: 1.3rem;
  font-family: var(--font-family-diary);
  line-height: 2.2rem;
  text-transform: none;
  color: var(--color-white);
}

main .section_wrap .section-video p::before {
  content: "[";
  padding-right: 3rem;
}

main .section_wrap .section-video p::after {
  content: "]";
  margin-left: 3rem;
}

/* section-contents */

main .section_wrap .section-contents {
  position: relative;
  width: 100%;
  height: 82%;
  margin-top: 10rem;
  transition: all 1s;
}

main .section_wrap .section-contents .slider_wrap {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 80rem * 9;
  height: 50rem;
  transition: all 0.5s;
}

main .section_wrap .section-contents .slider_wrap ul.list {
  display: flex;
  height: 100%;
}

main .section_wrap .section-contents .slider_wrap ul.list li {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60rem;
  height: 50rem;
  margin: 0 18rem;
}

main .section_wrap .section-contents .slider_wrap ul.list li .image_wrap {
  position: absolute;
  width: 50rem;
  height: 50rem;
  overflow: hidden;
  transition: all 1s;
}

main .section_wrap .section-contents .slider_wrap ul.list li .image_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
}
