@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");

@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  --font-family-cormorant: "Cormorant", sans-serif;
  --color-white: #fff;
  font-size: 10px;
}
